body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-wrapper {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  width: 100%;
}

.btn {
  display: block;
  background: none;
  border: none;
  width: 300px;
  padding: 30px;
  font-size: 24px;
  background-color: rgb(131, 175, 64);
  cursor: pointer;
}

.universal-btn {
  background: none;
  color: #222;
  border: none;
  border: 2px solid #fff;
  box-shadow: 0 0 3px 1px #222;
  border-radius: 8px;
  margin: 5px;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}

.rrr {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 2px solid #fff;
}

.title {
  text-align: center; 
  font-size: 60px;
}

.contact-title {
  margin-left: 20px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forma {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-radius: 5px;
  font-size: 20px;
}

.contact-edit {
  padding-left: 40px;

}

.form-contact {
  display: flex;
  flex-wrap: wrap;
}

.form-contact div {
  margin: 10px;
}

.contacts-input {
  padding: 10px 15px;
  font-size: 18px;
}

.form-btn-wrapper {
  width: 100%;
}

.sss {
  display: flex;
  flex-wrap: wrap;
}

.ddd {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 250px;
  padding: 30px;
  border: 1px solid rgba(34, 34, 34, 0.4);
  color: #222;
}

.ddd span {
  display: block;
  flex-grow: 1;
  padding: 3px;
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid #ccc;
}

.user-phone {
  text-decoration: none;
}